* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limiting the width of the container */
}

h1 {
    margin-bottom: 20px;
}

select {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #45a049;
}

#activity {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
